version: "3"
services:
  php:
    container_name: php
    build:
      context: ./
    ports:
      - 9000:9000
    volumes:
      - ./app:/var/www/html
      - ./conf/php/php.ini:/usr/local/etc/php/php.ini
    restart: always

  nginx:
    container_name: nginx
    build:
      context: ./
      dockerfile: Dockerfile_nginx
    ports:
      - 80:80
    depends_on:
      - php
    volumes:
      - ./app:/var/www/html
      - ./conf/nginx/default.conf:/etc/nginx/conf.d/default.conf
    restart: always

  mariadb:
    container_name: mariadb
    build:
      context: ./
      dockerfile: Dockerfile_mariadb
    ports:
      - 3306:3306
    depends_on:
      - php
    volumes:
      - ./db:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${PASSWORD}
    restart: always

  phpmyadmin:
    image: phpmyadmin
    restart: always
    ports:
      - 8081:80
    environment:
      - PMA_ARBITRARY=1
